@{
    Layout = null;
}
<html lang="en">
@*Cabecera Logout*@
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!--CSS-->
    <link href="~/css/Plantilla.css" rel="stylesheet" />
    <!-- font style -->
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:ital,wght@1,600;1,800&family=Open+Sans:wght@400;600&family=Oswald:wght@400;500&family=Roboto:wght@400;900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <!--Title-->
    <title>Asistente</title>
</head>
<body id="login-body">
    <header class="container-fluid position-relative" style="background:skyblue">
        <h1 class="align-items-center ">Itla Twitter</h1>

    </header>
    @if (ViewBag.Numero == 1)
    {
        <div class="alert alert-danger alert - dismissible fade show" role="alert" style="padding - left:10px; margin:10px; font-size:20px;">
            <h4 class="alert-heading">Usuario Invalido</h4>
            <hr /><h5>El usuario <strong class="text-dark">"@ViewBag.Name"</strong>. No existe en el sistema, Por favor registrarse: <a asp-action="Signup" class="btn btn-outline-info">Registrase!</a></h5>
            <hr>
            <p class="mb-0 text-dark">Puede volver a realizar la petición, asegurese de que el usuario este digitado correctamente, para eso haga click <a asp-action="Index" class="text-info text-link">aquí</a>  </p>
        </div>

    }

    @if (ViewBag.Numero == 3)
    {
        <div class="alert alert-warning alert - dismissible fade show" role="alert" style="padding - left:10px; margin:10px; font-size:20px;">
            <h4 class="alert-heading">Advertencía: </h4>
            <hr /><h5>El usuario<strong class="text-dark">"@ViewBag.Name"</strong>. Debe activar su cuenta para acceder al contenido de la pagina. Para ser activado debes seguir el enclace que te hemos enviado al correo. (Presionar si quieres volver al login: <a asp-action="Index" class="btn btn-primary btn-sm" >Login</a>) </h5>
            <hr>
            <p class="mb-0 text-dark">Presioname para activar cuenta: <a href="https://mail.google.com" class="text-info text-link">Aquí!</a> </p>
        </div>

    }


    @if (ViewBag.Numero == 2)
    {
        <div class="alert alert-success alert - dismissible fade show" role="alert" style="padding - left:10px; margin:10px; font-size:20px;">
            <h4 class="alert-heading">Comunicación: <a asp-action="Index" class="btn-primary btn-sm">Atras</a></h4>
            <hr />Para poder tener acceso a su cuenta, hemos generado una contraseña para usted. y ha sido enviada al correo: <strong class="text-dark">"@ViewBag.Correo"</strong>, Por Favor Verificar.
        </div>
    }

    <!-- jQuery, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
